altair==3.3.0
argh==0.26.2
asn1crypto==0.24.0
astor==0.8.1
attrs==19.3.0
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
base58==1.0.3
beautifulsoup4==4.8.2
bleach==3.1.0
blinker==1.4
boto3==1.10.50
botocore==1.13.50
certifi==2019.11.28
chardet==3.0.4
Click==7.0
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
enum34==1.1.6
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Dance==3.0.0
functools32==3.2.3.post2
future==0.18.2
futures==3.3.0
gunicorn==19.10.0
gyp==0.1
idna==2.6
importlib-metadata==0.23
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==0.33.12
jupyterlab-launcher==0.11.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==2.2.4
mistune==0.8.4
more-itertools==5.0.0
nbconvert==6.5.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.5
oauthlib==3.1.0
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.5
pathtools==0.1.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.2
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.11.2
ptyprocess==0.6.0
pycrypto==2.6.1
Pygments==2.4.2
pygobject==3.26.1
pyparsing==2.4.4
pyrsistent==0.15.5
python-dateutil==2.8.0
pytz==2019.3
pyxdg==0.25
PyYAML==5.3
pyzmq==18.1.0
requests==2.22.0
requests-oauthlib==1.3.0
s3transfer==0.2.1
scandir==1.10.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
soupsieve==1.9.5
streamlit==0.52.2
subprocess32==3.5.4
terminado==0.8.2
testpath==0.4.4
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
traitlets==4.3.3
typing==3.7.4.1
tzlocal==2.0.0
urllib3==1.25.7
URLObject==2.4.3
validators==0.14.1
virtualenv==16.7.8
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
zipp==0.6.0
